/*=============================================
=            Section page setup               =
=============================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 1.25rem; /* 20px */
  text-rendering: optimizeLegibility;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./img/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/*=====  End of Section page setup     ======*/

/*=============================================
=            Section navbar                   =
=============================================*/
.navbar {
  max-width: 1140px;
  margin: 0 auto;
}

.navbar__logo {
  height: 103px; /* 100px */
  width: auto;
  float: left;
  margin-top: 1.25rem; /* 20px */
}

.navbar__items {
  float: right;
  list-style: none;
  margin-top: 3.75rem; /* 60px */
}

.navbar__item {
  display: inline-block;
  margin-left: 2.5rem; /* 40px */
}

.navbar__link:link,
.navbar__link:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.navbar__link:hover,
.navbar__link:active {
  border-bottom: 2px solid #e67e22;
}

/*=====  End of Section navbar         ======*/

/*=============================================
=            Section hero                     =
=============================================*/
.hero {
  position: absolute;
  width: 59.375vw; /* 1140px */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__title {
  margin-top: 0;
  margin-bottom: 20;
  color: #ffffff;
  font-size: 200%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.0625rem; /* 1px */
  word-spacing: 0.25rem; /* 4px */
}
/*=====  End of Section hero           ======*/

/*=============================================
=            Section hero buttons             =
=============================================*/
.hero__btn:link,
.hero__btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 12.5rem;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.hero__btn:hover,
.hero__btn:active {
  background-color: #cf6d17;
}

.hero__btn-full:link,
.hero__btn-full:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #ffffff;
  margin-right: 0.625rem;
}

.hero__btn-full:hover,
.hero__btn-full:active {
  background-color: #cf6d17f6;
  border: 1px solid #cf6d17bb;
}

.hero__btn-ghost:link,
.hero__btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.hero__btn-ghost:hover,
.hero__btn-ghost:active {
  border: 1px solid #cf6d17f6;
  color: #fff;
}
/*=====  End of Section hero butons    ======*/

/*=============================================
=            Section features                 =
=============================================*/
.features__row {
  max-width: 1140px;
  margin: 0 auto;
}

.features__section {
}

.features__row {
}

.features__title {
}

.features__para {
}

.features__cards {
}

.features__card {
}

.card__title {
}

.card__para {
}

.features__card {
}

.features__card {
}

.features__card {
}
