/*=============================================
=            Section clear-css                =
=============================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 1.25rem; /* 20px */
  text-rendering: optimizeLegibility;
}

.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*=====  End of Section clear-css      ======*/

/*=============================================
=            Section reusable code            =
=============================================*/
.row {
  max-width: 83.3333vw; /* originally set at 1140px then changed to 1200px and converted to vw */
  margin: 0 auto;
}
section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

.box p {
  font-size: 100%;
  line-height: 145%;
}
/*=====  End of Section reusable code  ======*/

/*=============================================
=            Section header                   =
=============================================*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./img/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 59.375vw; /* 1140px */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 103px; /* 100px */
  width: auto;
  float: left;
  margin-top: 1.25rem; /* 20px */
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 3.75rem; /* 60px */
}

.main-nav li {
  display: inline-block;
  margin-left: 2.5rem; /* 40px */
}

/* orange color #e67e22 */

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20;
  color: #ffffff;
  font-size: 200%;
  word-spacing: 0.25rem; /* 4px */
  letter-spacing: 0.0625rem; /* 1px */
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 1.875rem; /* 30px */
  letter-spacing: 0.0625rem; /* 1px */
}

/* this section shows a divider line under the h2 */
h2::after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: ' ';
  width: 6.25rem; /* 100px */
  margin: 0 auto;
  margin-top: 1.875rem; /* 30px */
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/*=============================================
=            Section paragraphs               =
=============================================*/
.section-features .long-copy {
  margin-bottom: 1.5625vw; /* was 30px */
}
.long-copy {
  line-height: 145%;
  width: 44.2708vw; /* was 70%, then I changed it to 850px, then 44.2708vw */
  /* margin-left: was 15% but I liked it centered instead */
  margin: 0 auto;
}
/*=====  End of Section paragraphs     ======*/

/*=============================================
=            Section icons                    =
=============================================*/
.section-features ion-icon {
  font-size: 300%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}

/*=====  End of Section icons          ======*/

/*=============================================
=            Section buttons                  =
=============================================*/
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 12.5rem;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #ffffff;
  margin-right: 0.625rem;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}
.btn:hover,
.btn:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff;
}
/*=====  End of Section buttons        ======*/

/*=============================================
=            Section meals                    =
=============================================*/
.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: tranform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}
/*=====  End of Section meals          ======*/

/*=============================================
=            Section steps                    =
=============================================*/
.section-steps {
  background-color: #f4f4f4;
}
.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 20px;
}

.steps-box:last-child {
  margin-top: 80px;
  padding: 0 10% 0 3%;
}

.app-screen {
  width: 11.4583vw; /* was 40% but I changed to 200px */
}

.works-step {
  margin-bottom: 4.6296vh; /* was 50px */
}

.works-step:last-of-type {
  margin-bottom: 7.4074vh; /* 80px  */
}

.works-step div {
  color: #e67e22;
  border: 2px solid #e67e22;
  display: inline-block;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 1.3021vw; /* 25px */
}

.btn-app img {
  height: 55px;
  width: auto;
  margin-right: 10px;
}

/*=============================================
=            Section cities                   =
=============================================*/
/*=====  End oSection cities         ======*/
.box img {
  width: 100%;
  height: auto;
  margin-right: 15px;
}

.city-feature {
  margin-bottom: 5px;
  vertical-align: middle;
}

.city-feature ion-icon {
  font-size: 110%;
  color: #e67e22;
  line-height: 120%;
  vertical-align: middle;
  margin-right: 10px;
}

/*=====  End of Section cities         ======*/

/*=============================================
=            Section generic links            =
=============================================*/
.city-feature a:link,
.city-feature a:visited {
  color: #e67e22;
  background-color: transparent;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
}

.city-feature a:hover,
.city-feature a:active {
  color: #555555;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s, color 0.2s;
}
/*=====  End of Section generic links  ======*/
